@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width */
  font-family: "Poppins", sans-serif;
}

.App {
  text-align: center;
  align-items: center;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%; /* Makes the component fill the container */
  overflow: hidden;
}

.wide-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 300px; /* You can adjust height as necessary */
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.box-content,
.box-contentNew {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.image-container img {
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw; /* Reduce width to allow space on the left and right */
  padding: 20px;
  margin: 0 auto; /* Center horizontally */
}
.left-side {
  width: 60%;
}
.right-side {
  width: 40%;
}
.left-side,
.right-side {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.top-boxes {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.box,
.wide-box {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(170, 170, 170);
  padding: 0;
  margin: 10px 0; /* Remove side margin and apply only vertical margin */
  flex-grow: 1;
  border-radius: 3px;
}

.box {
  height: 200px; /* Height for the boxes in the left side */
  width: 100%;
}

.wide-box {
  height: 500px; /* Keep this height for the wide box */
  width: 100%; /* Make the wide box responsive */
  margin: 10px 0; /* Add margin for spacing */
  overflow: hidden; /* Hide any overflow */
}

.image-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.image-container > div {
  width: 100%;
  height: 100%;
}

.image-container img {
  max-width: 100%; /* Ensure the image does not overflow the container */
  max-height: 100%; /* Ensure the image does not exceed the height of the container */
  object-fit: cover; /* Maintain aspect ratio and fill the container */
}


.right-side .box {
  height: auto; /* Set height to match content 3 */
  flex-grow: 1;
  width: 100%;
}

.box-header {
  background-color: rgb(187, 187, 187); /* Different background color for the text section */
  padding: 10px;
  border-bottom: 1px solid rgb(170, 170, 170);
  text-align: left; /* Align text to the left */
  font-weight: bold;
}

.box-subcontent {
  font-size: 14px; /* Adjust font size for subcontent */
  color: #555; /* A lighter color for better contrast */
  margin-top: 1px; /* Add some space above the subcontent */
}
.left-side {
  margin-right: 10px; /* Reduce margin */
}
.box-content {
  display: flex; /* Enable flexbox layout */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: calc(100% - 70px); /* Adjust height to fit within the box */
}

.box1 .box-content {
  font-size: 70px; /* Adjust the size as needed */
  color: #555;
  font-weight: 600;
}

.box2 .box-content,
.box4 .box-content {
  flex: 1; /* Allow each section to take equal width */
  gap: 30px; /* Set space between sections */
}

.box-header {
  display: flex; /* Use flexbox layout */
  justify-content: space-between; /* Space between elements */
  align-items: center; /* Center items vertically */
  background-color: rgb(187, 187, 187); /* Different background color for the text section */
  padding: 10px;
  border-bottom: 1px solid rgb(170, 170, 170);
  text-align: left; /* Align text to the left */
}

.header-button {
  margin-left: auto; /* Push the button to the right */
  padding: 5px 10px; /* Padding for the button */
  background-color: #ffff; /* Green background color */
  color: black; /* White text color */
  border: none; /* Remove default border */
  border-radius: 3px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 14px; /* Font size for the button */
}

.header-button:hover {
  background-color: rgb(130, 130, 130); /* Darker green on hover */
}

.logo-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}

.logo {
  width: 400px; /* Adjust the size as needed */
  height: auto;
}

.App-header {
  padding-top: 25px; /* Create space for the logo (adjust value as needed) */
}

/* Responsive layout for tablets and smaller screens */
@media (max-width: 1400px) {
  .right-side {
    width: 100%;
  }
  .left-side {
    width: 100%;
  }
  .box4 .box-content {
    padding-top: 50px;
    padding-top: 50px;
  }
  .container {
    flex-direction: column; /* Stack the boxes vertically */
    width: 95vw; /* Increase width slightly on smaller screens */
  }
}
@media (max-width: 768px) {
  .right-side .box {
    width: 100%;
  }
  .container {
    flex-direction: column; /* Stack the boxes vertically */
    width: 95vw; /* Increase width slightly on smaller screens */
  }

  .top-boxes {
    flex-direction: column;
    gap: 10px; /* Reduce gap between boxes */
  }

  .box,
  .wide-box {
    width: 100%; /* Full width for boxes on small screens */
    margin: 10px 0; /* Reduce margins on smaller screens */
  }
}

.graph-container {
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
}

@media (max-width: 768px) {
  .graph-container {
    height: 300px; /* Adjust height for smaller screens */
  }
  .left-side {
    margin-right: 0px; /* Reduce margin */
  }
}
@media (max-width: 480px) {
  .left-side {
    margin-right: 0px; /* Reduce margin */
  }
}

/* Mobile layout */
@media (max-width: 480px) {
  .container {
    width: 100%; /* Full width for the container */
    padding: 10px; /* Reduce padding */
  }
  .left-side {
    margin-right: 0px; /* Reduce margin */
  }

  .box,
  .wide-box {
    height: auto; /* Adjust height for boxes */
    margin: 5px 0; /* Reduce margins */
  }

  .box-content,
  .box-contentNew {
    padding: 10px; /* Reduce padding */
  }

  .box-header {
    padding: 5px; /* Reduce padding */
  }

  .header-button {
    padding: 5px; /* Reduce padding */
    font-size: 12px; /* Reduce font size */
  }

  .selection-box {
    padding: 5px; /* Reduce padding */
    font-size: 10px; /* Reduce font size */
  }

  .home-button,
  .graph-button {
    padding: 5px 10px; /* Reduce padding */
    font-size: 0.8rem; /* Reduce font size */
  }

  .top-boxes {
    gap: 5px; /* Reduce gap between boxes */
  }

  .left-side,
  .right-side {
    padding: 0; /* Remove padding */
  }
}


.right-side {
  flex: 2;
  height: auto;
  width: 100%; /* Make the right-side responsive */
  margin-right: auto;
}

.right-side .boxNew {
  height: auto;
  flex-grow: 1;
  width: 100%; /* Make the boxNew responsive */
  margin-top: 10px; /* Reduce margin */
}

/* Same button style */
.home-button {
  margin-top: 10px; /* Reduce margin */
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #8c8c8c;
  color: white;
  border: none;
  cursor: pointer;
}

.graph-button {
  margin-top: 10px; /* Reduce margin */
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #8c8c8c;
  color: white;
  border: none
}
.graph-button:hover {
  background-color: #11b03e;
}

.home-button:hover {
  background-color: #11b03e;
}

.selection-box {
  width: 100%; /* Make the dropdown full width */
  padding: 10px; /* Add some padding */
  border: 1px solid rgb(170, 170, 170); /* Add border to match the box style */
  border-radius: 3px; /* Rounded corners */
  font-size: 12px; /* Font size for dropdown */
  margin-bottom: 5px;
}

.box-contentNew {
  padding: 30px;
  display: flex; /* Enable flexbox layout */
  flex-direction: column;
  height: calc(100% - 70px); /* Adjust height to fit within the box */
}

.weatherwidget-io {
  text-indent: 0 !important;
}

#weather-widget-container {
  width: 100%;
  height: auto; /* Or a value that works for your layout */
  overflow: hidden;
  display: block;
  position: relative;
}

.weatherwidget-io {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}